<strong>Hey, {{ organizer }}</strong>
<p>{{name}} has subscribed to your meetup! Check it out:</p>
<p>
  <strong>Subscriber: </strong>{{name}} <br />
  <strong>Subscriber email: </strong>{{email}} <br />
</p>
